.converter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-hex {
    padding: 10px;
    margin-bottom: 30px;
}

